@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Caveat&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Nunito:wght@500;800&family=Raleway:wght@500&display=swap");

:root {
  --main-background-color: #ffffff;
  --content-max-width: 80rem; /* 9 inches */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* App Container */
.App {
  position: relative;
  z-index: 909;
  text-align: center;
  background-color: var(--main-background-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0 1.5rem; /* Add some padding for smaller screens */
}

/* Section Title */
.sectionTitle {
  font-family: "Cinzel";
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}

/* Latest Episode Tile */
.latestEpisodeTile {
  background-color: #eeecea;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  color: #000000;
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .latestEpisodeTile {
    max-width: var(
      --content-max-width
    ); /* Limit width to 8.5 inches on large screens */
  }
}

/* Episode Title and Description */
.episodeTitle {
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Cinzel";
}

.description {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Cormorant";
}

/* Listen Now Button */
.listenNow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 10rem;
  background-color: #c5a603;
  color: #ffffff;
  font-family: "Cormorant";
  font-size: 1.5rem;
  font-weight: 700;
  border: solid 1px #554700;
}

/* Explore Section */
.exploreSection {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

/* Cards */
.cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .App {
    padding: 0 1rem; /* Narrow padding for smaller devices */
  }

  .sectionTitle {
    font-size: 2rem; /* Smaller title size */
  }

  .latestEpisodeTile {
    max-width: 100%;
  }

  .cards {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .App {
    max-width: var(
      --content-max-width
    ); /* Limit content width on large monitors */
    margin: 0;
  }
}
