@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito:wght@500;800&&family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Raleway:wght@500&display=swap");

.backgroundImage {
  width: 100%;
  min-height: 50rem;
  height: auto; /* Adjust height automatically */
  flex: 1; /* Take remaining space */
  object-fit: cover; /* Ensure the image covers the container */
  margin-top: -100px;
  transform: translateZ(0);
  will-change: transform;
}
@media (max-width: 768px) {
  .backgroundImage {
    width: 100%;
    min-height: 10rem;
  }
}

.fullWidthImageContainer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position: relative;
}
@media (max-width: 768px) {
  .fullWidthImageContainer {
    width: 100%;
    height: 30rem;
  }
}

/* Additional styles for the Header component */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 99;
}
h1 {
  font-weight: 200;
}

.artTitle {
  position: absolute;
  white-space: nowrap;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: -1px -1px 0 #6b6a6a, 1px -1px 0 #6b6a6a, -1px 1px 0 #6b6a6a,
    1px 1px 0 #6b6a6a;
}

@media (max-width: 768px) {
  .artTitle {
    font-size: 2rem; /* Smaller text size for mobile */
  }
}

.Header {
  position: absolute;
  z-index: 1001; /* Ensure the Header component is above the background image */
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(7rem);
  z-index: 2;
}

@media (max-width: 768px) {
  /* Gradient Overlay */
  .gradientOverlay {
    transform: translateY(0rem);
    transform: translatex(1rem);
  }
}
