@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito:wght@500;800&&family=Cinzel:wght@400..900&family=Raleway:wght@500&display=swap");

@media (min-width: 1024px) {
  .backgroundImage {
    width: 100%;
    height: auto; /* Adjust height automatically */
    flex: 1; /* Take remaining space */
    object-fit: cover; /* Ensure the image covers the container */
    margin-top: -100px;
  }
  .fullWidthImageContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    position: relative;
  }
  /* Additional styles for the Header component */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    z-index: 900;
  }
  h1 {
    font-weight: 200;
  }

  .podcastTitle {
    position: absolute;
    white-space: nowrap;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cinzel";
    font-size: 5rem;
    font-weight: 600;
    color: #812828;
  }
  .subTitle {
    position: absolute;
    white-space: nowrap;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cinzel";
    font-size: 2rem;
    font-weight: 600;
    color: #c5a603;
  }
}

.Header {
  position: absolute;
  z-index: 1001; /* Ensure the Header component is above the background image */
}

.listen {
  top: 43%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1001;
  background-color: #812828;
  color: whitesmoke;
  width: 20rem;
  height: 7rem;
  cursor: pointer;
  text-decoration: none;
}

.learnPlay {
  top: 57%;
  left: 50%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1001;
  width: 20rem;
  height: 7rem;
}
.secondaryLink {
  width: 10rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #eeeeee68;
  color: white;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  text-decoration: none;
}

.headphones {
  height: 5rem;
}
.eyeglasses {
  height: 2.5rem;
}
.fox {
  height: 2.5rem;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(7rem);
  z-index: 2;
}
