@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito:wght@500;800&&family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Raleway:wght@500&display=swap");

.backgroundImage {
  width: 100%;
  height: auto; /* Adjust height automatically */
  flex: 1; /* Take remaining space */
  object-fit: cover; /* Ensure the image covers the container */
  margin-top: -100px;
}
@media (max-width: 768px) {
  .backgroundImage {
    width: 100%;
    height: 30rem;
  }
}

.fullWidthImageContainer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position: relative;
}
@media (max-width: 768px) {
  .fullWidthImageContainer {
    width: 100%;
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
  }
}

/* Additional styles for the Header component */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 90;
}

.episodeTitle {
  position: absolute;
  white-space: nowrap;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: 600;
  color: #2b2b2b;
}
.episodeDescription {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cormorant";
  font-size: 2rem;
  font-weight: 600;
  color: #2b2b2b;
  text-align: center;
}
@media (max-width: 768px) {
  .episodeTitle {
    font-size: 2.3rem; /* Smaller text size for mobile */
  }
  .episodeDescription {
    display: flex;
    width: 90%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
}

.Header {
  position: absolute;
  z-index: 1001; /* Ensure the Header component is above the background image */
}

.streamingChannels {
  top: 57%;
  left: 50%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99;
  width: 25rem;
  height: 7rem;
  margin-top: 4rem;
}
.streamerLink {
  width: 15rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #eeeeee68;
  color: white;
  border-style: solid;
  border-color: white;
  z-index: 100;
}

.streamer_logo {
  height: 2.5rem;
  margin-bottom: 0.25rem;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(7rem);
  z-index: 2;
}

.playerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px; /* Set a max width for better viewing */
  height: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1002; /* Ensures it is above all other elements */
  padding: 20px;
}

.overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1001;
}
