.episodePage {
  display: flex;
  justify-content: center;
}

.episodesContainer {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap into multiple rows */
  justify-content: space-around; /* Space evenly between items */
  gap: 2rem; /* Spacing between cards */
  margin: 0 auto; /* Center the container horizontally */
  padding: 2rem 0; /* Padding for spacing */
  width: 81.25rem;
  height: 100%; /* Equal height for all boxes */
}

@media (max-width: 768px) {
  .episodesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }
}

.overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.playerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 20rem;
  background: white;
  border-radius: 8px;
  padding: 20px;
  z-index: 101;
}
