.latestText {
  font-family: "Cinzel";
  font-size: 2.5rem;
  font-weight: 400;
}

.latestEpisodeTile {
  /* Div Size */
  width: 60rem; /* Set maximum width */
  height: 25rem;
  margin: 0 auto; /* Center horizontally */
  padding-top: 2rem;
  /* Background Image */
  background-image: url("../../../images/peter-conlan-axYF1KFjoDY-unsplash.webp");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  filter: grayscale(25%);
  /* Position Elements */
  display: flex;
  flex-direction: column;
  align-items: left; /* Align items to the left */
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1002;
}

.episode {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the left */
}

.wreath {
  height: 7rem;
}

.episodeTitle {
  color: #000000;
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Cinzel";
}

.description {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Cormorant";
}

.listenNow {
  /* Button Size */
  height: 4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5a603;
  color: #ffffff;
  font-family: "Cormorant";
  font-size: 1.5rem;
  font-weight: 700;
  border-style: solid;
  border-color: #554700;
}
