.latestText {
  font-family: "Cinzel";
  font-size: 2.5rem;
  font-weight: 400;
}

.latestEpisodeTile {
  width: 60rem; /* Set maximum width */
  height: auto; /* Let the height adjust with the content */
  margin: 0 auto; /* Center horizontally */
  padding-top: 2rem;
  background-image: url("../../../images/peter-conlan-axYF1KFjoDY-unsplash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: grayscale(25%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1002;
}

.episode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wreath {
  height: 7rem;
}

.episodeTitle {
  color: #000000;
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Cinzel";
}

.description {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Cormorant";
}

.listenNow {
  /* Button Size */
  height: 4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5a603;
  color: #ffffff;
  font-family: "Cormorant";
  font-size: 1.5rem;
  font-weight: 700;
  border-style: solid;
  border-color: #554700;
  cursor: pointer; /* Add pointer for hover */
}

.spotifyPlayer {
  width: 80%; /* Match the width of the tile */
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%); /* Initially hidden */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.latestEpisodeTile .spotifyPlayer {
  transform: translateY(0); /* Show player when it's active */
}
