.contactUsPage {
  display: flex;
  justify-content: center;
}

.inputCard {
  display: flex;
  width: 40rem;
  background-color: #eeecea;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 35rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  height: 20rem;
}

.sendButton {
  width: 15rem;
  height: 3rem;
}
