/* Header backdrop styles */
.headerBackdrop {
  width: 100%;
  flex-wrap: wrap;
  height: 4rem;
  display: flex;
  background-color: #eeecea;
  z-index: 1002; /* Ensure header appears above other elements */
  position: relative;
}

.headerRow {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space items apart */
  width: 100%;
  margin-left: 1rem;
}

.navLink {
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.navLink:hover {
  text-decoration: underline;
}

/* Navigation group visible on desktop */
.headerContent {
  display: flex;
  justify-content: flex-end;
}

.navigationGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;
  z-index: 1003;
}

/* Sign up button group */
.signUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

/* Hide navigation and sign up buttons on mobile */
@media (max-width: 768px) {
  .navigationGroup,
  .signUp {
    display: none;
  }
}

/* Hamburger icon displayed on mobile */
.hamburgerIcon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  z-index: 1003;
}

/* Display the hamburger icon on mobile */
@media (max-width: 768px) {
  .hamburgerIcon {
    display: block;
    z-index: 1003;
  }
}

/* Hamburger dropdown menu styling */
.hamburgerMenu {
  position: absolute;
  right: 0;
  top: 4rem;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1003;
}

.hamburgerMenuLink {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #2b2b2b;
  z-index: 1003;
}

.hamburgerMenuLink:hover {
  background-color: #f4f4f4;
}

/* Style for sign in/register in the hamburger menu */
.hamburgerSignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
