.headerBackdrop {
  width: 100%;
  flex-wrap: wrap;
  height: 4rem;
  display: flex;
  background-color: #eeedea;
}

.headerRow {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
}

.navLink {
  color: #2b2b2b; /* Example color */
  text-decoration: none;
  cursor: pointer;
}

.navLink:hover {
  text-decoration: underline;
}

/* ======== Buttons ======== */
.navigationGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  gap: 1rem;
  margin-right: 1rem;
}

.storeButton {
  height: 1.75rem;
  width: 5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.signUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  gap: 1rem;
  margin-right: 1rem;
}

.signInButton {
  height: 1.75rem;
  width: 5rem;
}

.registerButton {
  height: 2.75rem !important;
  width: 5rem;
  background-color: black;
  color: whitesmoke;
  border-radius: 0.5rem;
}
