@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito:wght@500;800&&family=Cinzel:wght@400..900&family=Raleway:wght@500&display=swap");

.navLink:visited,
.navLink:hover,
.navLink:active {
  text-decoration: none;
  color: #2b2b2b;
  padding: none;
}

/* Header backdrop styles */
.headerBackdrop {
  width: 100%;
  flex-wrap: wrap;
  height: 4rem;
  display: flex;
  background-color: #eeecea;
  z-index: 105; /* Ensure header appears above other elements */
  position: relative;
}

.headerRow {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 1rem;
  width: 100%;
}

.navLink {
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  z-index: 99;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

/* Navigation group visible on desktop */
.headerContent {
  display: flex;
  justify-content: flex-end;
}

.navigationGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: none;
  gap: 1rem;
  margin-right: 1rem;
  z-index: 99;
}

/* Sign up button group */
.signUp {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.registerButton {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #812828;
  color: #eeecea;
  height: 2.5rem;
  width: 6rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #2b2b2b;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.signInLink {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #eeecea;
  color: #2b2b2b;
  height: 2.5rem;
  width: 6rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #2b2b2b;
  font-family: "Nunito";
  font-weight: 700;
  text-decoration: none;
}

/* Hide navigation and sign up buttons on mobile */
@media (max-width: 768px) {
  .navigationGroup,
  .signUp {
    display: none;
  }
}

/* Hamburger icon displayed on mobile */
.hamburgerIcon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  z-index: 99;
}

/* Display the hamburger icon on mobile */
@media (max-width: 768px) {
  .hamburgerIcon {
    display: block;
    z-index: 99;
  }
}

/* Hamburger dropdown menu styling */
.hamburgerMenu {
  position: absolute;
  right: 0;
  top: 4rem;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.hamburgerMenuLink {
  padding: 1re;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #2b2b2b;
  z-index: 99;
}

.hamburgerMenuLink:hover {
  background-color: #f4f4f4;
}

/* Style for sign in/register in the hamburger menu */
.userSignIn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: none;
  margin-right: 1rem;
  width: 10rem;
}

.signOutButton {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.signOutButton:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .hamburgerIcon {
    display: block;
    z-index: 99;
  }

  .headerContent {
    display: none;
  }

  .hamburgerMenu {
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }

  .hamburgerMenuLink {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #2b2b2b;
    z-index: 99;
  }

  .hamburgerMenuLink:hover {
    background-color: #f4f4f4;
  }
}
